node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

allure-results/
allure-reports/
allure-report/
audit/

contracts-exposed/
deployments/localhost

.idea/
